<h2> Login! </h2>

<% if flash[:error] %>
    <%=flash[:error] %>
<%end %>

<br>

<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name= "email" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" value="">
    <input type="submit" value="Login">
</form>

<br>

<br>

<p>If you don't have an account, please sign up for one</p>

<button onclick="window.location.href='/signup'">Sign Up</button>


