<head>
  <h2>Welcome to the Travel Post It<h2>
  <p>This is app to organize travel ideas.</p>
</head>

<body>
  <p> Do you want to signup for an account or login? </p>
    <div class= "nav">
      <ul>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
</body>